.landing img
{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.landingcontent
{
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%,-50%);
}

.landingcontent h1
{
  color: teal;
  font-size: 40px;
  font-weight: bold;
}

.landingcontent a
{
    margin-top: 10px;
}
