<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mt-2 mt-lg-0" routerLink="/landing">
        <i class="fa fa-rocket"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/weather">Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/forum">Forum </a>
          </li>
          <li class="nav-item">
            <a type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#static">Translate</a>
            <div class="modal fade" id="static" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title" id="staticLabel">Translator</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input type="text" id="text2" name="text2" [(ngModel)]="text2" class="form-control" id="floatingInputGrid">
                          <label for="floatingInputGrid">Input Text</label>
                        </div>
                      </div>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingInputGrid">{{resultado}}</label>
                      </div>
                      <button type="button" class="btn btn-primary"(click)="translate(text2)">Translate Text</button>
                    </div>
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="pull-right">
          <ul class="nav pull-right">
            <li class="dropdown"><button class="dropbtn">Welcome, User <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-content">
                <li>
                  <a routerLink="/user-profile"><i class="icon-off"></i> Profile</a>
                  <a (click)="auth0.logout({ returnTo: document.location.origin })"><i class="icon-off"></i> Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
