<body>
  <div class="left-box">
    <div class="content">
      <h1>Events in Japan</h1>
      <p>Japan have been praised and pleased through traditional Japanese “matsuri” festivals.
        Filled with dancing, music, costumes, food, and more, each matsuri festival boasts its own fascinating history
        and unique charm.
      </p>
    </div>
  </div>
  <div class="events">
    <ul>
      <li *ngFor="let i of listOfEvents">
        <div class="time">
          <h2>{{i.startDate}}<br>-<br><span>{{i.endDate}}</span></h2>
        </div>
        <div class="details">
          <h2>{{i.eventName}}</h2>
          <p>{{i.eventDescription}}</p>
          <p>Location: {{i.location}}</p>
          <p>Time: {{i.startTime}} - {{i.endTime}}</p>
          <a routerLink="/invite" type="button" class="info-btn btn btn-dark btn-sm">Send Invite</a>
        </div>
      </li>
    </ul>
  </div>
</body>


