<body>

  <div class="container">

    <div *ngIf="replyshow">

      <p><app-create-reply [postIdentification] = "postIdent" [showbutton]="show2" [forumIdentification] = "forumIdent" ></app-create-reply></p>

    </div>

    <div class="subforum" *ngFor="let f of listOfReplies">

      <div class="subforum-title">

        <h1></h1>

      </div>

      <div class="subforum-row">

        <div class="subforum-icon subforum-column center">

        </div>

        <div class="subforum-description subforum-column">

          <h1>{{f.replyText}}</h1>

        </div>

        <div class="subform-info subforum-column">

          <b>Last Reply</b> by <a href="">User {{f.userId}}</a>

          <br>

          <small>{{f.dateCreated|date : 'EEEE, MMMM d yyyy'}}</small>

        </div>

        <div style="clear: both;"></div>

      </div>

    </div>

  </div>

</body>
