@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body
{
  background-image: url("../../assets/images/panoramic-geff0a777d_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.wrapper
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.wrapper .input
{
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn
{
  background: #ffec00;
  width: 10%;
  border-radius: 5px;
  position: relative;
}

.searchbtn .fa
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
}

.card
{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: whitesmoke;
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  border-radius: none;
  border: none;
}

.card-content h5
{
  font-size: 50px;
}

.card-content h3
{
  font-size: 30px;
}


