body
{
  background-image: url("../../assets/images/anime-g20791a911_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

h1
{
  font-size: 16px;
  font-weight: bold;
}


a
{
  color: #e91e63;;
  font-weight: bolder;
  text-decoration: none;
}

.container
{
  background: cover;
   margin: 0px;
   padding: 10px;

}

.subforum
{
  margin-top: 20px;
}

/* .subforum-title
{
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
} */

.subforum-row
{
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;

}

.subforum-column
{
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: rgb(179, 179, 179);

}

.subforum-column h1 p
{
  float: right;

}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon i
{
  font-size: 45px;
}

