

<!-- <div *ngIf="show">
  
  <div *ngIf="showAddForum">
    <form [formGroup] = "restGroup">
        <input type="text" formControlName = "textfield">
        <h2>date</h2>
        <input type="text" formControlName = "date">
    
        <br>
        <button class="btn btn-primary" (click)="createRestaurant(restGroup)">Submit</button>
    </form>
    </div>
</div> -->
<app-create-post [restId] = "forumId" [showbutton]="show"></app-create-post>
<table *ngIf="show" class="table-primary">
        <thead>
           <th>post</th>
          <th>date</th>
          <th>made by</th> 
          <th>postId</th>
        </thead>
    
        <tbody>
            <tr *ngFor="let restaurant of listOfPosts">
                <td>{{restaurant.postText}}</td>
                <td>{{restaurant.dateCreated}}</td>
                <td>{{restaurant.userId}}</td>
                <td>{{restaurant.postId}}</td>
                <!-- <a routerLink="/review">Review</a> -->
                <button (click) = "showReview(restaurant.postId)">replies</button>
            
            </tr>
        </tbody>
      </table>
      <app-replies [show2]="show2" [replyshow]="replyshow"[postIdent] = "replyPostId" [forumIdent]="replyForumId"></app-replies>