.news
{
  justify-content: center;
  height: 94.5vh;
  background: url("../../assets/images/news.jpg") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: darkgray;
  padding: 100px 100px;
}

.box
{
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 10px 10px;
}

.box h5
{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.h1
{
  color: whitesmoke;
  font-size: 40px;
  font-weight: bold;
}

.container
{
  width: 100%;
}
