<section class="news">
  <h1 class="h1">News in Japan</h1>
  <div class="container">
    <div class="row mt-5" >
      <div class="col-lg-3">
        <div class="box shadow-sm">
          <img src="" width="100%">
          <!-- <h5 class="mt-2 mb-2">{{listOfNewsArticles[0]}}</h5>
          <p class="mt-2">Published: {{listOfNewsArticles[0]}}</p>
          <a href="{{listOfNewsArticles[0]}}" class="btn btn-dark btn-sm mt-2">Read More</a><br>
          <button type="button" class="btn btn-dark btn-sm mt-2" (click)="JapaneseNews()">Japanese News</button> -->
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>


