<div *ngIf="showbutton">
  <button type="button" class="btn btn-dark btn-sm"  (click)="showForm()">Reply</button>
</div>

<div *ngIf="showAddReply">

  <br>

  <form class="example-form" [formGroup] = "restGroup">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput formControlName = "date" placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a reply</mat-label>
      <textarea matInput formControlName = "textfield" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

    <br>

    <button class="btn btn-primary" class="btn btn-dark btn-sm"  (click)="createReply(restGroup)">Submit</button>

  </form>

</div>



