<body>

  <div class="container">

    <app-create-post [restId] = "forumId" [showbutton]="show"></app-create-post>


    <div class="subforum" *ngFor="let f of listOfPosts">


      <div class="subforum-title">

        <h1></h1>

      </div>

      <div class="subforum-row">

        <div class="subforum-icon subforum-column center">

          <i class="fa fas fa-fire"></i>

        </div>

        <div class="subforum-description subforum-column">

          <h1>{{f.postText}}</h1>

          <details>
            <summary type ="button" class="btn btn-dark btn-sm" (click) = "showReview(f.postId)">See Replies</summary>
            <div class="details-content">
              <p><app-replies [show2]="show2" [replyshow]="replyshow"[postIdent] = "replyPostId" [forumIdent]="replyForumId"></app-replies></p>
            </div>
          </details>

        </div>

        <div class="subforum-stats subforum-column center">

        </div>

        <div class="subform-info subforum-column">

          <b>Last Post</b> by <a href=""> User: {{f.userId}}</a>

          <br>

          <small>{{f.dateCreated|date : 'EEEE, MMMM d yyyy'}}</small>

        </div>

        <div style="clear: both;"></div>

      </div>

    </div>

  </div>

</body>












