<details>

  <summary type="button" class="btn btn-dark btn-sm" (click)="showForm()">Add Post</summary>

  <div class="details-content"  *ngIf="showAddPost">

    <br>

    <form class="example-form" [formGroup] = "restGroup">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput formControlName = "date" placeholder="" value="">
      </mat-form-field>

    </form>

    <form class="example-form" [formGroup] = "restGroup">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput formControlName = "textfield" placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

    </form>

    <button class="btn btn-dark btn-sm" type="button" (click)="createPost(restGroup)">Submit</button>

  </div>

</details>



