<!-- Button trigger modal -->
<button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showForm()">
  Add Post
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h1 class="modal-title" id="exampleModalLabel">New Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body"*ngIf="showAddPost">

        <form class="example-form" [formGroup] = "restGroup">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput formControlName = "date" placeholder="" value="">
          </mat-form-field>

        </form>

        <form class="example-form" [formGroup] = "restGroup">

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput formControlName = "textfield" placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>

        </form>

        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="showForm()">Close</button>
          <button class="btn btn-dark" type="button" (click)="createPost(restGroup)">Submit</button>

        </div>

      </div>

    </div>

  </div>

</div>
