<body>
  <div class="wrapper">
    <input type="text" class="input" placeholder="Enter Japanese City" [(ngModel)]="weatherText" >
    <div class="searchbtn">
      <i  type="button" class="fa fa-search" (click)="Weather(weatherText);Forecast(weatherText)"></i>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-content">
      <br>
      <h5>{{city}}</h5>
      <br>
      <h3>{{Temp}}</h3>
      <p>{{Humidity}}</p>
      <p>{{Wind}}</p>
    </div>
  </div>
  </div>
</body>
